* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  a img {
    border: 0;
  }
  
  a {
    text-decoration: none;
    cursor: default;
  }
  
  input,
  textarea {
    caret-color: #07c160;
  }
  
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  ::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }