@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-sans@5.2.5/index.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-sc@5.2.5/index.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-sans@5.2.5/700.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-sc@5.2.5/700.min.css");

* {
    font-family: "Noto Sans", "Noto Sans SC", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 7.5px;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}