* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* 隐藏默认的滚动条样式 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

body {
  width: 75%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.two-rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.second-line {
  display: flex;
  overflow: hidden;
}

.left-top {
  /* width: 25%; */
  height: 155px;
  position: absolute;
  left: 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.left-top-logo {
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #2c2e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.two-columns {
  flex: 1;
  /* width: 100%; */
  /* background-color: #2c2e2f; */
  /* padding: 3dvh 0; */
  transition: padding 1s ease, width 1s;
  /* 合并过渡效果 */
  height: calc(100dvh - 155px);
  overflow: hidden;
  float: left;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.sidebar-toc {
  /* width: 10%; */
  height: 100%;
  /* padding: 0 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2e2f;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  white-space: nowrap;
  opacity: 1;
  position: relative;

}

.sidebar-toc.hidden {
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.toc-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 5% 0;
}

.sidebar-toc a {
  color: #b2b8be;
  letter-spacing: 1.5px;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  padding: 0 50px;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 10px;
}

.sidebar-toc a:hover {
  color: #fff;
  font-weight: bold;
  /* animation: leftRight 0.5s ease-in-out forwards; */
  background-color: black;

}

.sidebar-toc a.active {
  color: #ff4500;
  font-weight: bold;
}

button.toggle-toc {
  padding: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button.toggle-toc:hover {
  background-color: #0056b3;
}

button.backToTop {
  padding: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  white-space: nowrap;
}

.ctrlButton {
  position: fixed;
  bottom: 0;
  right: 0;
  gap: 7px;
  max-width: 10%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1001;
}

.content {
  flex: 1;
  padding: 0 30px;
  /* border: none; */
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  height: 100%;
  /* width: 88%; */
  float: left;
  /* transition: width 1s; */
  overflow-x: hidden;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  /* 隐藏默认的滚动条样式 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.fillBlock {
  width: 100%;
  height: 15px;
}

.section h3 {
  margin: 0 0 15px 0;
}

.three-rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 155px;
  background-color: #2c2e2f;
}

.main-content {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  margin-top: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  height: 50px;
  position: relative;
  z-index: 999;
}



.search-title {
  font-weight: bold;
  position: absolute;
  /* top: -15dvh; */
  font-size: 25px;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* border: 2px solid gray; */
  border-style: solid;
  border-width: 2px 0 2px 2px;
  border-color: gray;
  border-radius: 1.5dvh 0 0 1.5dvh;
}

input[type="text"]:focus {
  border-style: solid;
  border-width: 2px 0 2px 2px;
  border-color: blue;
  outline: none;
}

form button {
  /* width: 15%; */
  height: 100%;
  padding: 0 5%;
  border: none;
  /* border: 1.5px solid blue; */
  border-radius: 0 1.5dvh 1.5dvh 0;
  background-color: blue;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

form button:hover {
  background-color: darkblue;
}

.category-container {
  /* position: absolute; */
  max-width: 100%;
  height: 50px;
  padding: 9px;
  gap: 10px;
  /* top: -5.5dvh; */
  /* right: 8dvw; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  overflow: auto;
}

.category-container .category-button {
  /* width: 3dvw;
  height: 4.5dvh; */
  border: none;
  padding: 0 5px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0);
  /* border-radius: 10px; */
  display: inline-block;
  /* 确保元素是块级或行内块级 */
  transition: transform 0.5s ease-in-out;
  /* 设置过渡效果 */
  white-space: nowrap;
}

.category-container .category-button:hover {
  cursor: pointer;
  animation: quickBounce 0.5s ease-in-out forwards;
  /* background-color: darkgray; */
  /* border-radius: 10px; */
  /* border-bottom: 3px solid black; */
}

.category-container .category-button.active {
  /* background-color: darkgray; */
  /* border-radius: 10px; */
  border-bottom: 3px solid white;
}

/* --------------------------------------------------- */
.searchEngineButtonContainer {
  /* position: absolute; */
  /* width: 40%; */
  max-width: 100%;
  height: 50px;
  padding: 9px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* right: 40.5dvw; */
  /* bottom: -5.5dvh; */
  /* overflow-x: auto;
white-space: nowrap; */
  position: relative;
  z-index: 999;
  overflow: auto;
}

.searchEngineButtonContainer button {
  /* width: 4.5dvw;
  height: 5dvh; */
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  white-space: nowrap;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0);
  /* display: inline-block; */
  /* 确保元素是块级或行内块级 */
  transition: transform 0.5s ease-in-out;
  /* 设置过渡效果 */
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchEngineButtonContainer button:hover {
  cursor: pointer;
  animation: quickBounce 0.5s ease-in-out forwards;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: none;
}

.searchEngineButtonContainer button.active {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: none;
}

.sub-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 默认每行显示4个方块 */
  gap: 30px;
  /* 方块之间的间距 */
}

/* 设置方块的样式 */
.sub-box {
  background-color: #fff;
  height: 100px;
  border: 0.5px solid #dad4cb;
  border-radius: 10px;
  background-size: contain;
  /* 背景图片宽度为 100%，高度自动调整 */
  background-position: center;
  /* 垂直方向选择图片居中部分 */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.sub-box img {
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgb(53 58 62 / 9%), 0 2px 4px 0 rgb(53 58 62 / 12%);
}
.sub-box:hover img {
  height: 100%;
  box-shadow: none;
}
.sub-box:hover span {
  display: none;
}

.applemusiclg:hover {
  background-color: #fa2a42;
}
.githublg:hover {
  background-color: #060606;
}
.qqmaillg:hover {
  background-color: #ffdd0f;
}
.taobaolg:hover {
  background-color: #ff5000;
}
.weixinlg:hover {
  background-color: #04d166;
}
.logioptionsplus:hover {
  background-color: #ac3fef;
}
.firefoxlg:hover {
  background-color: #20123a;
}
.yuquelg:hover {
  background-color: #2bc25b;
}
.xhslg:hover {
  background-color: #ff2442;
}
.fliqlolg:hover {
  background-color: #292929;
}

.sub-box-title {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}



@keyframes quickBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
    /* 向上移动 */
  }

  100% {
    transform: translateY(0);
    /* 回到原始位置 */
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0);
  }

  /* 75% {
    transform: translateX(5px);
  } */
  100% {
    transform: translateX(10px);
  }
}



/* ---------------------------------------------------------------- */
/* <style>Time */
:root {
  --font-size: 55px;
  /* 时钟字体大小 */
  --center-border: 2px solid #000;
  /* 翻页中间的边框色 */
  --col-width: 45px;
  /* 6个时间块的宽度 */
  --col-height: 60px;
  /* 时钟高度 */
  --col-color: #ddd;
  /* 时钟字体颜色 */
  --col-bg: #1a1a1a;
  /* 时钟背景色 */
}

body {
  background-color: var(--body-bg);
}

/* 容器样式 */
.clock-container {
  /* width: 100%; */
  height: 155px;
  padding-left: 30px;
  max-width: 25vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  left: 0;
}

/* <style>Date */
.date-container {
  /* width: 100%; */
  height: 155px;
  padding-top: 10px;
  padding-bottom: 15px;
  max-width: 25vw;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: absolute;
  /* right: 0; */
}

.date-display {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/* </style> */

.time {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  overflow: hidden;
  height: 100%;
}

.time-round-dot {
  color: white;
  font-size: 55px;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 12px;
}

.col {
  width: var(--col-width);
  height: var(--col-height);
  perspective: var(--col-height);
}

.col:nth-child(3),
.col:nth-child(5) {
  margin-left: 10px;
}

.curr,
.next {
  position: relative;
  width: var(--col-width);
  height: calc(var(--col-height) / 2);
  font-size: var(--font-size);
  background: var(--col-bg);
  border-radius: 5px;
  color: var(--col-color);
  overflow: hidden;
  box-sizing: border-box;
}

.flip .curr::before,
.flip .next::before,
.col>.curr::before,
.col>.next::before {
  position: absolute;
  content: attr(data-t);
  line-height: var(--col-height);
  text-align: center;
  height: var(--col-height);
  left: 0;
  right: 0;
}

.flip .curr::before,
.col>.next::before {
  top: 0;
}

.flip .next::before,
.col>.curr::before {
  bottom: 0;
}

.flip .curr,
.col>.next {
  border-bottom: var(--center-border);
}

.flip .next,
.col>.curr {
  border-top: var(--center-border);
}

.flip .next {
  transform: rotateX(-180deg);
  backface-visibility: hidden;
}

.flip .curr {
  position: absolute;
  top: 0;
  backface-visibility: hidden;
}

.flip {
  position: absolute;
  width: var(--col-width);
  height: var(--col-height);
  z-index: 1;
  transform-style: preserve-3d;
  transition: transform 0s;
  transform: rotateX(0);
}

.flip.active {
  transition: all 0.5s ease-in-out;
  transform: rotateX(-180deg);
}

/* </style> */

