* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  line-height: 1.15;
  overflow: hidden;
  background-color: #f7f7f7;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
img {
  border: none;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.two-rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.second-line {
  display: flex;
  overflow: hidden;
}



.two-columns {
  flex: 1;
  /* width: 100%; */
  /* background-color: #2c2e2f; */
  /* padding: 3dvh 0; */
  transition: padding 1s ease, width 1s;
  /* 合并过渡效果 */
  height: 100%;
  overflow: hidden;
  float: left;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
/***************************************************************************************************** 边栏 */
.sidebar-site-title {
  width: 180px;
  min-height: 45px;
  padding: 0 10px;
  /* border-bottom: 1px solid gray; */
  color: #fff;
  font-weight: 600;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.sidebar-toc {
  height: 100%;
  width: 200px;
  padding: 10px 0 10px 10px;
  /* border-right: 0.5px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #2c2e2f; */
  background-color: #eee;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  white-space: nowrap;
  opacity: 1;
  position: relative;
  z-index: 1003;
  gap: 10px;
}

.sidebar-toc.hidden {
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.sidebar-top-logo {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  width: 190px;
  min-height: 109.112903225806451612903225806452px;
  padding: 10px;
}

.sidebar-top-logo img {
  height: auto;
  width: 170px;
  border-radius: 10px;
}

.toc-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 100%;
  padding: 10px;
  /* border: 1px solid gray; */
  border-radius: 10px;
  background-color: #fff;
}

.toc-links a {
  color: #b2b8be;
  letter-spacing: 1.5px;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  /* padding: 0 50px; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.toc-links a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #07c160;
}

.toc-links a.active {
  color: #ff4500;
  font-weight: bold;
}
.ctrlButton {
  position: fixed;
  gap: 7px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  right: 27px;
  bottom: 20px;
  z-index: 1001;
}
button.mobi-toggle-toc {
  display: none;
}
button.toggle-toc, button.mobi-toggle-toc, button.back-to-the-top, button.go-to-the-bottom {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #18191C;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, .08);
  transition: all .2s;
}
button.toggle-toc:hover, button.mobi-toggle-toc:hover, button.back-to-the-top:hover, button.go-to-the-bottom:hover {
  background-color: #E3E5E7;
}


/* *************************************************************************************************************** */
.content {
  flex: 1;
  /* border: 0.5px solid rgba(0, 0, 0, 0.2); */
  background-color: #eee;
  height: 100%;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.anchor-point {
  width: 100%;
  height: 0;
}
.nav-column {
  position: sticky;
  top: -2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 100%;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgb(53 58 62 / 9%), 0 2px 4px 0 rgb(53 58 62 / 12%);
  opacity: 1;
  transition: height 0.5s ease, opacity 0.5s ease;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  z-index: 1090;
}
.nav-column span {
  display: flex;
  gap: 20px;
}

.fillBlock {
  width: 100%;
  min-height: 10px;
  max-height: 10px;
}
.fillBlock:target {
  padding-top: 60px; /* 根据顶部元素高度调整 */
  margin-top: -50px; /* 抵消额外空间 */
}

.three-rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 82px);
  /* min-height: 170px; */
  background-color: #2c2e2f;
  /* margin-top: 10px; */
  border-radius: 10px;
  padding: 10px;
}

.main-content {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  /* margin-top: 10px; */
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
}

.footer {
  width: 100%;
  /* min-height: 150px; */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  height: 50px;
  position: relative;
  z-index: 999;
}



.search-title {
  font-weight: bold;
  position: absolute;
  /* top: -15dvh; */
  font-size: 25px;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* border: 2px solid gray; */
  border-style: solid;
  border-width: 2px 0 2px 2px;
  border-color: gray;
  border-radius: 1.5dvh 0 0 1.5dvh;
}

input[type="text"]:focus {
  border-style: solid;
  border-width: 2px 0 2px 2px;
  border-color: blue;
  outline: none;
}

form button {
  /* width: 15%; */
  height: 100%;
  padding: 0 5%;
  border: none;
  /* border: 1.5px solid blue; */
  border-radius: 0 1.5dvh 1.5dvh 0;
  background-color: blue;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

form button:hover {
  background-color: darkblue;
}

.category-container {
  max-width: 100%;
  height: 50px;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none;  /* Firefox */
}
.category-container::-webkit-scrollbar {
  display: none;
}

.category-container .category-button {
  border: none;
  padding: 0 5px;
  color: #b2b8be;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 1); */
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.category-container .category-button:hover {
  cursor: pointer;
  animation: quickBounce 0.5s ease-in-out forwards;
}

.category-container .category-button.active {
  border-bottom: 3px solid white;
}

/* --------------------------------------------------- */
.searchEngineButtonContainer {
  max-width: 100%;
  height: 50px;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 999;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none;  /* Firefox */
}
.searchEngineButtonContainer::-webkit-scrollbar {
  display: none;
}

.searchEngineButtonContainer button {
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  white-space: nowrap;
  color: #b2b8be;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 1); */
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchEngineButtonContainer button:hover {
  cursor: pointer;
  animation: quickBounce 0.5s ease-in-out forwards;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: none;
}

.searchEngineButtonContainer button.active {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: none;
}

.sub-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* 默认每行显示4个方块 */
  gap: 20px;
}

.sub-box {
  background-color: #fff;
  height: 90px;
  border: 0.5px solid #dad4cb;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.sub-box img {
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgb(53 58 62 / 9%), 0 2px 4px 0 rgb(53 58 62 / 12%);
}
.sub-box:hover img {
  height: 100%;
  box-shadow: none;
}
.sub-box:hover span {
  display: none;
}

.applemusiclg:hover {
  background-color: #fa2a42;
}
.githublg:hover {
  background-color: #060606;
}
.qqmaillg:hover {
  background-color: #ffdd0f;
}
.taobaolg:hover {
  background-color: #ff5000;
}
.weixinlg:hover {
  background-color: #04d166;
}
.logioptionsplus:hover {
  background-color: #ac3fef;
}
.firefoxlg:hover {
  background-color: #20123a;
}
.yuquelg:hover {
  background-color: #2bc25b;
}
.xhslg:hover {
  background-color: #ff2442;
}
.fliqlolg:hover {
  background-color: #292929;
}


@keyframes quickBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
    /* 向上移动 */
  }

  100% {
    transform: translateY(0);
    /* 回到原始位置 */
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0);
  }

  /* 75% {
    transform: translateX(5px);
  } */
  100% {
    transform: translateX(10px);
  }
}