@media (min-width: 992px) {

    .toc-links a {
        padding: 0 50px;
    }

    .sub-item {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 992px) {

    .search-form {
        width: 80%;
    }

    .toc-links a {
        padding: 0 30px;
    }

    .sub-item {
        grid-template-columns: repeat(4, 1fr);
        /* 屏幕宽度小于768px时，每行显示2个方块 */
    }

    #app {
        display: none !important;
    }

    #selectBox {
        display: none;
    }

    .sidebar-toc {
        background-color: #fff;
    }

    .clock-container {
        display: none;
    }

    .sidebar-toc a:hover {
        font-weight: bold;
        background-color: unset;
    }

    .ctrlButton {
        padding: 10px 2px;
    }

    button.toggle-toc {
        padding: 5px;
    }

    button.backToTop {
        padding: 5px;
    }
}

/* ==============================================================================================================576px======== */
@media (max-width: 576px) {
    
    .search-form {
        width: 90%;
    }

    .toc-links a {
        padding: 0 20px;
    }

    .sub-item {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-columns: 1fr; */
        /* 每行显示1个方块 */
        gap: 10px;
    }
    .main-content {
        padding: 0 10px;
    }

    .sidebar-toc {
        width: 100px;
        display: none;
        overflow: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    .sidebar-top-logo {
        width: 90px;
    }
    .toc-links {
        width: 90px;
    }
    .content {
        min-width: 100%;
        padding: 0;
        border: none;
        background-color: #2c2e2f;
    }

    .clock-container {
        display: none;
    }

    .sidebar-toc a:hover {
        font-weight: bold;
    }

    .ctrlButton {
        padding: 10px 2px;
    }

    button.toggle-toc {
        padding: 5px;
    }

    button.backToTop {
        padding: 5px;
    }

    button.toggle-toc {
        display: none;
    }
    button.mobi-toggle-toc {
        display: block;
      }
}

/* ------------------------------------------------------------------------ */