.gray {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.9);
}
.green {
  background-color: #07c160;
  color: #fff;
}
.red {
  background-color: #fa5151;
  color: #fff;
}
.weui-btn {
  min-width: 184px;
  max-width: 280px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  border-radius: 8px;
}